.p-dropdown-label {
  font-size: 0.75rem;
}

.p-inputnumber > .p-inputtext {
  font-size: 0.75rem;
  text-align: center;
  width: 4rem;
}

.p-inputnumber-input {
  padding: 0;
}

/* p-inputtext p-component p-filled p-inputnumber-input p-inputnumber-input */
